body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  background-color: #181818; 
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: Roboto;
  color: white;
  /* background-image: url("../images/wood.jpeg"); */
}

.App-bg-wood {
  background-image: url("../images/wood.jpeg");
}

.App-bg-corona {
  background-image: url("../images/coronavirus_bg.jpg");
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

.g-body {
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 1px 1px 3px black;
  z-index: 2;
}

.g-body form {
  margin: 20px 0
}

.g-body button {
  box-shadow: 2px 2px 4px 0px #000000c4;
}

p.g-message {
  text-shadow: 1px 1px 4px #080808;
  background-color: #181818ba;
  padding: 4px 20px;
}

.g-final-points{
  padding-bottom: 30px;
}

.g-final-points p{
  height: 80px;
}

input.g-input {
  font-weight: bold;
  text-align: center;
}

.g-input-error {
  border: 2px solid #ff0028;
}

.g-invalid-input-warning {
  color: #f93050;
  text-align: left;
  text-shadow: 1px 1px 4px #080808;
  font-size: 13px;
  background-color: #181818ba;
}

.g-invalid-input-warning svg{
  margin-bottom: 3px;
}

button.g-btn {
  width: 100%;
  font-weight: bold;
}

input.g-input::placeholder {
  color: rgb(141, 141, 141);
}
