h2.g-intro-text {
    top: 100px;
    width: 100%;
    position: fixed;
    text-shadow: 1px 1px 4px #080808;
    background-color: #181818ba;
    padding: 5px 20px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin-bottom: 50px */
}

p.g-intro-text {
    text-shadow: 1px 1px 4px #080808;
    background-color: #181818ba;
    padding: 4px 20px;
}

.g-start-btn {
    background-color: #ff006f;
    font-weight: bold;
    border-radius: 20px;
    border-color: #ff006f;
    padding: 6px 40px;
}

.g-img-intro {
    position: fixed;
    max-height: 50vh;
    /* max-width: 60vw; */
    bottom: -20px;
    right: -10px;
    transform: rotate(0.09turn);
    overflow: hidden;
    z-index: -1;
}

/* .g-img-right img{
    max-height: 50vh;
    max-width: 60vw;
} */

