.g-brujula {
    width: 120px;
    height: 100px;
    bottom: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
}

.g-welcome-message {
    top: 20%;
    position: absolute;
    font-size: 1.15em;
    font-weight: bold;
    text-shadow: 1px 1px 4px #080808;
    background-color: #181818ba;
    padding: 4px 20px;
}