@keyframes slideInFromTop {
    0% {
      /* transform: translateY(-100%); */
      transform: translateY(calc(-50vh));
    }
    100% {
      transform: translateY(0);
    }
}

.join-welcome-message {
  top: 20%;
  position: relative;
  font-family: 'Boogaloo';
  font-size: 2em;
  text-shadow: 1px 1px 4px #080808;
  background-color: #181818ba;
  padding: 4px 20px;
  animation: 0.7s ease-out 0s 1 slideInFromTop;
}

.join-team-message {
  background-color: #181818d1;
  padding: 20px 20px;
  margin-bottom: 20px;
}

.join-team-message h1 {
  font-family: 'Boogaloo';
  font-size: 2.6em;
  text-shadow: 1px 1px 4px #080808;
  padding-bottom: 20px;
}

.join-team-message p {
  font-size: 1.2em;
  line-height: normal;
  letter-spacing: 1px;
  text-shadow: 2px 2px 1px #181818d1, -2px -2px 1px #181818d1;
  /* text-shadow: none; */
}

.join-container {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 3px black;
    z-index: 2;
}

.g-img-left {
    /* height: 300px;  */
    bottom: -60px;
    left: -50px;
    position: fixed;
    overflow: hidden;
    transform: rotate(0.06turn);
    
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
.g-img-left img{
  max-height: 35vh;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%) rotate(0.06turn);
    }
    100% {
      transform: translateX(0) rotate(0.06turn);
    }
}
.g-img-right {
    bottom: -5px;
    right: -20px;
    position: fixed;
    overflow: hidden;
    animation-delay: 2s;
    animation: 1s ease-out 0s 1 slideInFromRight;
}
.g-img-right img{
    max-height: 35vh;
    max-width: 60vw;
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}