.challenge-container {
    background-color: #101010c7;
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-shadow: 1px 1px 3px black;
    overflow: hidden;
    z-index: 1;
}


.challenge-container p{
    white-space:pre-wrap;
}

.challenge-title {
    position: absolute;
    top: 0;
    display: flex;
    color: #fac833;
    height: 100px;
    align-items: center;
    font-family: 'Boogaloo';
}

.challenge-subtext {
    font-size: calc(7px + 2vmin);
    color: rgb(172, 172, 172);
}

.challenge-img-right {
    bottom: -5px;
    right: -20px;
    position: fixed;
    overflow: hidden;
    animation-delay: 2s;
    animation: 1s ease-out 0s 1 slideInFromRight;
}
.challenge-img-right img{
    max-height: 35vh;
    max-width: 60vw;
}

.g-imagen {
    width: 80%;
    margin-bottom: 15px;
}

.g-line {
    margin: 20px;
    border-bottom: 1px solid grey
}

.g-animal-icon {
    width: 25%;
    margin: 0 2px ;
    background-color: #fac833
}

.g-pista {
color: rgb(172, 172, 172);
font-size: calc(7px + 2vmin);
}