.g-loading {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #131313e6;
    box-sizing: content-box !important;
    z-index:6
}

.css-p2p61k {
    box-sizing: content-box !important;
}